.dialog-frame {
  width: 100vw;
  min-height: 180px;

  /* главное — фон-рамка */
  background-image: url("/frame.png");
  background-size: 100% 100%; /* растягиваем как цельную рамку */
  background-repeat: no-repeat;

  //border-image-source:url("/frame2.png");
  //border-image-slice: 28 64 0 67;
  //border-image-width: 20px 20px 20px 20px;
  //border-image-outset: 0px 0px 0px 0px;
  //border-image-repeat: repeat stretch;
  //background: -webkit-linear-gradient(90deg, #9c9b89, #cfcfc8, #9f9b86);
  //background: linear-gradient(90deg, #9c9b89, #cfcfc8, #9f9b86);
  //
  //background-blend-mode: multiply;

  padding: 40px 60px; /* отступы от краёв рамки */
  box-sizing: border-box;
  color: #e6e6e6;
}

.portrait-frame {
  position: relative;
  width: 224px;
  height: 284px;
  padding: 14px;
}

.portrait-frame::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/portrait.png");
  background-size: 100% 100%;
  pointer-events: none;
}

.dialog-text {
  color: #4c4e5e;
}

.choice-text {
  color: #4e4444;

  li {
    cursor: pointer;
    position: relative;
    transition: color 0.2s ease;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;

      // ширина подчёркивания по умолчанию
      width: 0;
      height: 2px;
      background: #c8a878;

      transition: width 0.2s ease;
    }

    &:hover {
      color: #c8a878;

      &::after {
        width: 60%; // ← подчёркивание НЕ на всю ширину
      }
    }
  }
}

.dialog-name {
  font-family: 'Alegreya', serif;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  color: #4e4444;
  line-height: 1.3;

  &::first-letter {
    font-family: 'Marck Script', cursive;
    font-size: 2.5rem;
    font-weight: 700;
    color: #8a4c54;
    margin-right: 0.3rem;

    display: inline-block;
    vertical-align: -0.25em; // мягкое опускание
  }
}

.speaker {
  color: #515696;
}
