.pathfinder-scene-text {
  color: #4c4e5e;
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
}

.pathfinder-scene {
  height: 100%;
  position: relative;
  border-radius: 5px;

  border-image-slice: 97 106 97 106;
  border-image-width: 20px 22px 20px 20px;
  border-image-repeat: repeat;
  border-image-source: url("/scene.png");
  overflow: hidden;
}

.pathfinder-scene::before {
  content: "";
  position: absolute;
  inset: 20px;
  border-radius: 3px;

  background: -webkit-linear-gradient(90deg, #9c9b89, #cfcfc8, #9f9b86);
  background: linear-gradient(90deg, #9c9b89, #cfcfc8, #9f9b86);

  box-shadow: inset 0 0 15px 20px  rgba(0, 0, 0, 0.1);

  background-blend-mode: multiply;
  z-index: 0;
}

.pathfinder-scene > * {
  position: relative;
  z-index: 1;
  padding: 30px;
}
